@model List<PhotoAlbum.Models.Photo> 
<!-- comment -->

@{
    ViewData["Title"] = "Home Page";
}

<!--Foreach in Razor-->
<h1>Photo Album</h1>
@foreach (var photo in Model)
{
    <div>
        <h2>All Photos</h2>
        <p>
            @photo.Title<br />
            @photo.Id<br />
            @photo.Description<br />
            @photo.FileName<br />
            @photo.Creation
        </p>
    </div>
}
}